<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ page.title }} - {{ site.title }}</title>

<!-- Site CSS -->
<link rel="stylesheet" href="/assets/css/style.css">

<!-- Favicons -->
{% include _favicon.html %}

<!-- Preload fonts -->
<link rel="preload" href="/assets/fonts/Aladin-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/Inter-Variable.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/assets/fonts/Inter-Italic-Variable.woff2" as="font" type="font/woff2" crossorigin>
